body {background: #eeecf2; background-repeat: no-repeat; background-color: #eeecf2; margin: 60px auto; width: 375px;}
.content {background-color: #eeecf2; padding: 15px; border-radius: 20px; color: black;}
.github-image {width: 18px; display: block; margin-bottom: 3px;}
.github {color: black; font-size: 13px; width: 100%;}
#aiworld a {color: black;}
#aiworld a:hover {text-decoration: none;}
hr {border-top-color: #ddd; border-bottom-color: #fafafa;}
.sep {border-left: solid 1px #fff;}
/*.space-for-brain {}*/