body {font-family: 'Open Sans', sans-serif; font-weight: 300}
.bs-docs-header h1, .bs-docs-header p {text-align: center; margin-right: 0;}
.bs-docs-header h1 {font-size: 4.6em}
.bs-docs-header p {font-size: 0.79em;}
.bs-docs-header h1, #content {
    background: #fffff8;
    color: #383838;
    text-shadow: 0;
    font-weight: 300;
}
.bs-docs-header {
    padding-top: 100px;
    border-bottom: solid 1px #bbb;
    padding-bottom: 55px;
    margin-bottom: 0;
}
.blurred-body {
    background: url('../images/background-blurred.jpg');
    background-size: cover;
    height: 1000px;
    width: 100%;
    opacity: 0.4;
}

.why-body p, blockquote, .footnotes, .call-to-action {
    font-size: 25px;
    font-family: serif;
    max-width: 741px;
}
.why-body {background: #fff;}
blockquote {font-style: italic;}
.stacked {
    height: 500px;
    width: 100%;
    font-size: 1.1em;
    font-weight: 400;
}
.brains {height: 618px; width: 100%;}
h2 {font-weight: 300;}
.footnote {
    font-size: 16px;
    color: #000;
    display: none;
    line-height: 18px;
    font-family: serif;
}
.footnotes {font-size: 17px;}
.call-to-action {font-size: 25px; font-family: serif;}
.qtip-default {
    background-color: #fff !important;
    border-color: #000 !important;
}
.sig {padding-top: 25px; padding-bottom: 75px;}
a.back {
    font-size: 14px;
    color: #47a;
    padding-left: 1px;
    white-space: nowrap;
}
.highlighted {background-color: #ff0;}
.navbar {border-bottom: solid 1px #e7e7e7;}
.crowd-sig {font-size: 14px; font-weight: 400;}
.home {text-align: center;}
.home-btns {
    text-align: center;
    margin: 30px auto;
    width: 18em;
}
.home-btns .thumbnail {
    height: 1.81em;
    background-color: #f8f8f1;
    color: #000;
    font-weight: 300;
    font-size: 0.72em;
    text-shadow: 0 1px 0 rgba(0, 0, 0, .2);
}